body{font-family:Arial;margin:0;background:#f4f6f7;color:#222}
header{background:#c87522;color:white;padding:20px;text-align:center}
header img{width:100px;border-radius:10px}
.dashboard{display:grid;grid-template-columns:1fr 1fr;gap:10px;padding:15px}
.dashboard div{background:white;padding:20px;border-radius:12px;text-align:center}
nav{display:flex;gap:5px;padding:10px}
button{flex:1;padding:12px;border:0;background:#c87522;color:white;border-radius:8px}
#content{padding:15px}.card{background:white;padding:15px;margin-bottom:10px;border-radius:10px}
